.public-header {
  background: #fff;
  padding: 10px;
  .logo img {
    width: 100px;
  }
}

.section-header {
  background: $agn-btn-primary-bg;
  color: $agn-btn-primary-colour;
  padding: 70px 0 50px;
  margin-bottom: -40px;
}
