
// Colours
$agn-btn-clear-bg:          #fdfdfd;
$agn-btn-clear-colour:      #11508f;
$agn-btn-secondary-bg:      #f2f2f2;
$agn-btn-secondary-colour:  #11508f;
$agn-btn-primary-bg:        #005996;
$agn-btn-primary-colour:    #fff;
$agn-btn-third-bg:          #575757;
$agn-btn-third-colour:      #fff;
$agn-btn-secure-bg:         #2a6433;
$agn-btn-secure-colour:     #fff;
$agn-btn-push-bg:           #fc3;
$agn-btn-push-colour:       #333;


// Bootstrap overides
$font-family-sans-serif: 'Ubuntu', sans-serif;

$brand-primary: $agn-btn-primary-bg;
$brand-danger: #b7423e;

$enable-shadows: true;
$enable-rounded: false;

$body-bg: #e5e5e5;

// buttons
$btn-border-radius:              .25rem;

$btn-box-shadow:                 0 1px 4px rgba(#000, .175);
$btn-hover-box-shadow:           0 4px 10px rgba(#000, .225);
$btn-active-box-shadow:          $btn-box-shadow;
$btn-focus-box-shadow:           0 0 0 3px rgba($brand-primary, .45);

$btn-primary-color:              $agn-btn-primary-colour;
$btn-primary-bg:                 $agn-btn-primary-bg;
$btn-primary-border:             $agn-btn-primary-bg;

$btn-secondary-color:            $agn-btn-secondary-colour;
$btn-secondary-bg:               $agn-btn-secondary-bg;
$btn-secondary-border:           $agn-btn-secondary-bg;

// forms
$form-icon-danger: none;

// alerts
$alert-danger-border: $brand-danger;
