.btn {
  font-family: inherit;
}

.btn-clear {
  @include button-variant($agn-btn-clear-colour, $agn-btn-clear-bg, $agn-btn-clear-bg);
}

.btn-third {
  @include button-variant($agn-btn-third-colour, $agn-btn-third-bg, $agn-btn-third-bg);
}

.btn-secure {
  @include button-variant($agn-btn-secure-colour, $agn-btn-secure-bg, $agn-btn-secure-bg);
}

.btn-push {
  @include button-variant($agn-btn-push-colour, $agn-btn-push-bg, $agn-btn-push-bg);
}

/* Show/hide password SVG */
.btn-svg {
  background: transparent;
  border: 0;
  fill: currentColor;
  padding: 0;
}

.btn-svg-eye {
  .eye-on {
    opacity: 0;
  }
  &.btn-svg-eye-off {
    .eye-off {
      opacity: 0;
    }
    .eye-on {
      opacity: 1;
    }
  }
}
